/* Fondo de la página */
body {
  background-image: url(/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 75%;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

/* Contenedor principal */
.app-container {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

/* Encabezado */
.app-header {
  text-align: center;
  margin-bottom: 20px;
}

.app-header h1 {
  color: #333;
  font-size: 2rem;
}

/* Contenedor de contenido */
.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.categorias,
.section-busqueda,
.busquedas-recientes {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.libros-recientes {
  flex: 0.5;
  /* Columna más estrecha para los recientes */
}

/* Categorías */
.lista-categorias {
  list-style-type: none;
  padding: 0;
}

.item-categoria {
  margin-bottom: 10px;
}

.button-categoria {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.categoria-button.recientes {
  background: red;
  /* Botón rojo para la categoría Recientes */
}

.categoria-libros {
  margin-top: 10px;
  text-align: start;
  list-style-type: none;
}

/* Libros */
.lista-libros {
  list-style-type: none;
  padding: 0;
}

.a-libro {
  margin: 0.5rem;
}

.item-libro {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.item-libro.highlight {
  border-bottom: solid black 3px;
  border-top: solid black 3px;
  border-radius: 25px;
  margin-top: 5px;
}

/* Formularios */
.form-busqueda {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input-busqueda {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.button-busqueda {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.select-categoria {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Media Queries */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .categorias,
  .section-busqueda {
    flex: unset;
  }

  .form-busqueda {
    flex-direction: column;
  }

  #root {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .app-header h1 {
    font-size: 1.5rem;
  }

  .button-categoria {
    font-size: 0.9rem;
  }

  .result-libros {
    font-size: 0.9rem;
  }

  #root {
    width: 100%;
  }
}